html{
    box-sizing: border-box;
    font-family: sans-serif;
}
* , *::after,::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;

}
.conteiner-gen{
    width: 100%;
    height: 780px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteiner-Welcome{
    width: 100%;
    height: 780px;
    background-image: url(/src/img/medical.jpg);
    background-size: 100% 780px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.conteiner-banner{
    width: 100%;
    height: 240px;
    margin: 2rem 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo{
    width: 250px;
    height: 170px;
}
.conteiner-receta-medica{
    width: 100%;
    height: 780px;
}
.conteiner-options{
    width: 80%;
    height: 700px;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.area-options{
    width: 35%;
    height: 260px;
    background-color: #0D7066;
    margin: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteiner-logeo{
    width: 100%;
    height: 780px;
    background-image: url(img/fondo1.png);
    background-size: 100% 780px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.conteiner-login{
    width: 400px;
    height:780px ;
    background-color: #0D7066;
    margin: 0 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.conteiner-banner-login{
    width: 100%;
    height: 150px;
    margin-top: 1.5rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-login{
    width: 180px;
    height: 110px;
}
.back-recipe{
    width: 100%;
    height: 780px;
    background-color: #0D7066;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.back-recipe-farmacia{
    width: 100%;
    height: 780px;
    background-color:#C62B2B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.conteiner-banner-form{
    width: 100%;
    height: 120px;
    margin: 1rem 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner-receta-medica{
    width: 100%;
    height: 620px;
    padding: 1rem 4rem;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-input{
    width: 90%;
    height: 600px;
}
.cont-offset{
    width:90%;
    height: 40px;
    margin: 1rem 0;
    display: flex;
    justify-content:flex-end; 
    align-items: flex-end;

     
}
.info-paciente{
    margin: 1.5rem 0;
    display: flex;
    justify-content: space-between;


}
.info-pers{
    width: 60%;
    height:20px;
}
.info-doctor{
    display: flex;
    justify-content: space-between;
    margin:  1.5rem 0;
}
.conteiner-receta{
    width: 80%;
    height: 250px;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center,
    

}
.cont-rece{
    width: 100%;
    padding:0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.form-user{
    width: 250px;
    height: 200px;
    margin-bottom: 5rem;
}
h2{
    margin: 0.5rem;
    font-size: 1.8rem;
}
p{
    font-size: 1rem;
    text-align: center;
    
}
.border-cont{
   border: thin solid black; 
   background-color: white;
}
.datos-user{
    width: 250px;
    height: 35px;
    margin: 0.5em 0;
}
.btn-enter{
    width: 150px;
    height: 35px;
    margin: 1rem 3rem;
}
.boton{
    width: 200px;
    height: 100px;
    font-size: 2rem;
    background-color: #0D7066;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.conteiner-textCipher{
    width: 60%;
    height: 30px;
    margin: 0;
}
.cont-num{
    width: 20%;
    height: 30px;
    
}
.sec-btn{
    width: 80%;
    margin-left: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}